<!-- Device Dashboard -->
{% extends "layout.html" %}
{% block head%}
  <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{%endblock%}
{% block content %}
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
      Devices
      <span class="badge badge-secondary">{{devices_total}}</span>
    </h1>

    <br/>
  </div>
  <div class="row">
    {% with active_page=active_page_devices %}
      {% include "devices/sub_nav.html" %}
    {% endwith %}
  </div>

  <!-- Content Row -->
  <div class="row">
    <!-- Recent Device Table -->
    <div class="col-xl-8 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">
            Recent Devices
          </h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive">
            {%if devices%}
              <table class="table" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th class="d-none d-sm-block">IP</th>
                    <th>Last Seen</th>
                  </tr>
                </thead>
                {% for device in devices %}
                <tr>
                  <td>
                    {{device|device_icon_status}}
                  </td>
                  <td class="d-none d-sm-block">{{device.ip}}</td>
                  <td>{{device.last_seen|time_ago}}</td>
                </tr>
                {%endfor%}
              </table>
            {%else%}
              <div class="text-center">
                No favorite devices found.
              </div>
            {%endif%}
          </div>
        </div>
      </div>
    </div><!-- End Recent Devices -->

    {%if devices%}
      <!-- Devices by vendor donut chart -->
      <div class="col-xl-4 col-lg-5">
        <!-- Donut Chart -->
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Devices by Vendor</h6>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <div class="chart-pie pt-4">
              <canvas id="device_pie_chart"></canvas>
            </div>
          </div>
        </div>
      </div><!-- End devices by vendor chart -->
    {%endif%}

  </div><!-- End row -->


{%endblock%}

{%block javascript%}
  <script src="/static/vendor/chart.js/Chart.min.js"></script>
  <script type="text/javascript">
    $( document ).ready(function(){
      $("#devices_online").click(function(){
        window.location = "/device/online";
      });

      var donut_data = [];
      donut_data = {{device_venders['values_js']|safe}};

      var donut_labels = [];
      donut_labels = {{device_venders['vendors_js']|safe}};

      // Set new default font family and font color to mimic Bootstrap's default styling
      Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
      Chart.defaults.global.defaultFontColor = '#858796';

      // Pie Chart Example
      var ctx = document.getElementById("device_pie_chart");
      var myPieChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
          labels: donut_labels,
          datasets: [{
            data: donut_data,
            backgroundColor: ['#1cc88a', '#4e73df', '#36b9cc'],
            hoverBackgroundColor: ['#17a673', '#2e59d9', '#2c9faf'],
            hoverBorderColor: "rgba(234, 236, 244, 1)",
          }],
        },
        options: {
          maintainAspectRatio: false,
          tooltips: {
            backgroundColor: "rgb(255,255,255)",
            bodyFontColor: "#858796",
            borderColor: '#dddfeb',
            borderWidth: 1,
            xPadding: 15,
            yPadding: 15,
            displayColors: false,
            caretPadding: 10,
          },
          legend: {
            display: false
          },
          cutoutPercentage: 80,
        },
      });
    });

  </script>
{%endblock%}

<!-- EndFile: lan-nanny/lan_nanny/templates/devices/dashboard.html -->
