<!-- Device Info -->

{% extends "layout.html" %}

{%block head%}
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
{%endblock%}

{% block content %}
  <div class="row">
    <div class="col-lg-6">
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">
          {%if device.last_seen|online%}
            <i class="fas fa-bolt fa-2x device_info_connect connected_bolt"></i>
          {%endif%}
          {%if device.icon%}<i class="{{device.icon}} fa-2x"></i>{%endif%}{%if device.name%}{{device.name}}{%endif%}</h1>
      </div>
    </div>
    <div class="col-lg-6 text-right">
      <!-- <i class="fas fa-bolt"></i> -->
      <a id="device-favorite" href="#" class="btn btn-warning btn-circle btn-lg">
        <i class="fa"></i>
      </a>
      <a href="/device/edit/{{device.id}}" class="btn btn-primary">Edit</a>
    </div>
  </div>
  <!-- Content Row -->
  <div class="row">

    <!-- Device Info -->
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">
            Info
          </h6>
        </div>

        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
              <tr>
                <td><b>IP</b></td>
                <td>
                  <code>{{device.ip}}</code>
                </td>
              </tr>
              <tr>
                <td><b>Mac</b></td>
                <td><code>{{device.mac}}</code></td>
              </tr>
              <tr>
                <td><b>Vendor</b></td>
                <td>{{device.vendor}}</td>
              </tr>
              <tr>
                <td><b>Status</b></td>
                {%if device.last_seen|online%}
                  <td>Online</td>
                {%else%}
                  <td>Disconnected</td>
                {%endif%}
              </tr>
              <tr>
                <td><b>Last Seen</b></td>
                <td class="time_switch">{{device.last_seen|time_switch}}</td>
              </tr>
              <tr>
                <td><b>First Seen</b></td>
                <td class="time_switch">{{device.first_seen|pretty_time}}</td>
              </tr>
              <tr>
                <td><b>Status</b></td>
                {%if device.last_seen|online%}
                  <td>Online</td>
                {%else%}
                  <td>Disconnected</td>
                {%endif%}
              </tr>
              <tr>
                <td><b>Port Scan</b></td>
                <td>
                  {% if device.port_scan == 1 %}
                    Enabled
                  {%else%}
                    Disabled
                  {%endif%}
                </td>
              </tr>
              <tr>
                <td><b>Last Port Scan</b></td>
                <td>
                  {% if device.last_port_scan%}
                    {{device.last_port_scan|smart_time}}
                  {%else%}
                    Never Ran
                  {%endif%}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>

    </div>

    <div class="col-xl-6 col-lg-6">

      <div class="card shadow mb-4"><!-- Device Options -->
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">
            Options
          </h6>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="port_scan">Port Scan</label>
            <input id="port_scan" data-entity-id="{{device.id}}" class="alert-toggle" type="checkbox" data-toggle="toggle" aria-describedby="portScanHelp">
            <small id="portScanHelp" class="form-text text-muted">Enable port scanning of device.</small>
          </div>

<!--           <div class="form-group">
            <label for="port_scan_flagged">Flag for Port Scan</label>
            <input id="port_scan_flagged" data-entity-id="{{device.id}}" class="alert-toggle" type="checkbox" data-toggle="toggle" aria-describedby="portScanFlaggedHelp">
            <small id="portScanFlaggedHelp" class="form-text text-muted">Resets device port scan timeout and puts the device in the front of the line for the next port scan.</small>
          </div>
 -->
          <!--
          <div class="form-group">
            <label for="alert_online">Alert Online</label>

            <input id="alert_online" data-entity-id="{{device.id}}" class="alert-toggle alert-nanny" type="checkbox" data-toggle="toggle" aria-describedby="alertOnlineHelp">
            <small id="alertOnlineHelp" class="form-text text-muted">Create an alert when the device comes online.</small>
          </div>

          <div class="form-group">
            <label for="alert_offline">Alert Offline</label>
            <input id="alert_offline" data-entity-id="{{device.id}}" class="alert-toggle" type="checkbox" data-toggle="toggle" aria-describedby="alertOfflineHelp">
            <small id="alertOfflineHelp" class="form-text text-muted">Create an alert when the device goes offline.</small>
          </div>
        -->

        </div>
      </div><!-- END Device Options -->

      <!-- Device online Chart -->
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Area Chart</h6>
        </div>
        <div class="card-body">
          <div class="chart-area">
            <canvas id="myAreaChart"></canvas>
          </div>
          <hr>

          Api Route: <code>http://192.168.50.10:5000/api/device-online/{{device.id}}</code>
          <div id="debug">debug</div>
        </div>
      </div><!-- End Device online chart -->


    </div>
  </div>

  <!-- Device Ports -->
  <div class="row">
    <!-- Device Ports -->
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">
            Ports
          </h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive">
            {%if device.ports%}
              <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <td>Port</td>
                    <td>Service</td>
                    <td>Protocol</td>
                    <td>Last Seen</td>
                  </tr>
                </thead>
                {%for port in device.ports%}
                  <tr>
                    <td>
                      <a href="/ports/info/{{port.port.port}}/{{port.port.protocol}}">{{port.port.port}}</a>
                    </td>
                    <td>{{port.port.service}}</td>
                    <td>{{port.port.protocol}}</td>
                    <td>{{port.last_seen|smart_time}}</td>
                  </tr>
                {%endfor%}
              </table>
            {%else%}
              No ports found, enable port scanning for this device
            {%endif%}
          </div>
        </div>
      </div>
    </div>
  </div><!-- END Device Ports -->
{%endblock%}

{%block javascript%}
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
  <script src="/static/vendor/chart.js/Chart.min.js"></script>
  <script src="/static/js/device-chart.js"></script>
  <script type="text/javascript">
    $( document ).ready(function(){
      // $( ".copy" ).each(function( index ) {
      //   $(this).append('<i class="fas fa-copy hidden"></i>');
      // });
      // $('.copy').click(function(){
      //   /* Get the text field */
      //   // var copyText = $(this).text().trim();
      //   $(this).focus();
      //   $(this).select();
      //   document.execCommand('copy');

      //   /* Alert the copied text */
      //   alert("Copied the text");
      // });
      var device_favorite_status = convert_str_bool("{{device.favorite}}");
      register_favorite_button('#device-favorite', device_favorite_status, '/device/favorite/{{device.id}}')

      var device_alert_online_initial_status = convert_str_bool("{{device.alert_online}}");
      var device_alert_offline_initial_status = convert_str_bool("{{device.alert_online}}");

      register_toggle_ajax(
        '/device/alert-save',
        '#alert_online',
        device_alert_online_initial_status);
      register_toggle_ajax(
        '/device/alert-save',
        '#alert_offline',
        device_alert_online_initial_status);

      var device_port_scan_status = convert_str_bool("{{device.port_scan}}");
      register_toggle_ajax(
        '/device/quick-save',
        '#port_scan',
        device_port_scan_status);

      // var device_port_scan_flagged_status = convert_str_bool("{{device.flagged_for_scan}}");
      // register_toggle_ajax(
      //   '/device/quick-save',
      //   '#port_scan_flagged',
      //   device_port_scan_flagged_status);
    });
  </script>
{%endblock%}

<!-- End File: lan-nanny/templates/devices/info.html