<!-- Device Roster -->
{% extends "layout.html" %}
{% block head%}
  <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{%endblock%}
{% block content %}
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Devices{%if devices|length%} ({{devices|length}}){%endif%}</h1><br/>
  </div>
  <div class="row">
    {% with active_page=active_page_devices %}
      {% include "devices/sub_nav.html" %}
    {% endwith %}
  </div>

  <!-- Content Row -->
  <div class="row">

    <!-- Device Table -->
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive">
            {%if devices%}
              <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <td>Name</td>
                    <td>IP</td>
                    <td>Last Seen</td>
                    <td>First Seen</td>
                  </tr>
                </thead>
                {% for device in devices %}
                <tr>
                  <td>
                    {{device|device_icon_status}}
                  </td>
                  <td>{{device.ip}}</td>
                  <td>{{device.last_seen|time_ago}}</td>
                  <td>{{device.first_seen|pretty_time}}</td>
                </tr>
                {%endfor%}
              </table>
            {%else%}
              <div class="text-center">
                No Devices Found.
              </div>
            {%endif%}
          </div>
      </div>
    </div>
  </div>

{%endblock%}

{%block javascript%}
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
{%endblock%}
<!-- EndFile: lan-nanny/lan_nanny/templates/devices/roster.html -->
