<ul class="nav roster_nav">
  <li class="nav-item">
    <a class="nav-link {%if active_page=='dashboard'%}active{%endif%}" href="/device/dashboard">Dashboard</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {%if active_page=='all'%}active{%endif%}" href="/device">All</a>
  </li>
  <li class="nav-item">
    <a class="nav-link  {%if active_page=='online'%}active{%endif%}" href="/device/online">Online</a>
  </li>
  <li class="nav-item">
    <a class="nav-link  {%if active_page=='offline'%}active{%endif%}" href="/device/offline">Offline</a>
  </li>
</ul> 