<!-- Dashboard -->
{% extends "layout.html" %}
{% block content %}

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">About</h1>
  </div>

  <!-- Content Row -->
  <div class="row">
    <!-- Device Table -->
    <div class="col-xl-8 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          Lan Nanny Stats
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
              {%if 'start-date' in sys_infos%}
                <tr>
                  <td>
                    Lan Nanny Started
                  </td>
                  <td>
                    {{sys_infos['start-date'].value|pretty_time}}
                  </td>
                </tr>
              {%endif%}
              <tr>
                <td>
                  Recorded Witness
                </td>
                <td>
                  {{db_witness_length|number}}
                </td>
              </tr>
              <tr>
                <td>
                  Recorded Host Scans
                </td>
                <td>
                  {{db_scan_host_length|number}}
                </td>
              </tr>
              <tr>
                <td>
                  Recorded Port Scans
                </td>
                <td>
                  {{db_scan_port_length|number}}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  {%if g.options['debug-features'].value %}  
    <a class="btn btn-primary btn-large" href="/about/debug">Debug</a>
  {%endif%}
{%endblock%}

<!-- EndFile: lan-nanny/lan_nanny/templates/about.html -->