<!-- Alert Dashboard -->

{% extends "layout.html" %}
{% block content %}
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Alerts</h1>
  </div>
  <div class="row">
    {% with active_page=active_page_alerts %}
      {% include "alerts/sub_nav.html" %}
    {% endwith %}
  </div>

  <!-- Stats Row -->
  <div class="row">

    <!-- Active Alerts -->
    <div id="devices_online" class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-danger shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Active Alerts</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{alerts_firing|length}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-exclamation fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Active Alerts -->

    <!-- New Alerts Today -->
    <div id="devices_online" class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">New Alerts Today</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{alerts_num_today}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-bolt fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Active Alerts -->

  </div><!-- End Stats Row -->


  <!-- Content Row -->
  <div class="row">
    <!-- Alerts Firing Table -->
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">
            Actively Firing Alerts
          </h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive">
            {%if alerts_firing%}
              <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Status</th>
                    <th>Alert</th>
                    <th>Device</th>
                    <th>Created</th>
                  </tr>
                </thead>
                {% for alert in alerts_firing %}
                <tr>
                  <td>
                    {%if alert.active%}
                      {%if alert.kind == 'new-device'%}
                        <i class="fas fa-exclamation-circle alert_active_yellow"></i>
                      {%else%}
                        <i class="fas fa-exclamation-circle alert_active_red"></i>
                      {%endif%}
                    {%else%}
                      <i class="fas fa-check-circle alert_resolved"></i>
                    {%endif%}
                  </td>
                  <td>
                    <a href="/alerts/info/{{alert.id}}">{{alert.pretty_kind()}}</a>
                  </td>
                  <td>
                    {%if 'device' in alert.metas%}
                      {{devices[alert.metas['device'].value|int]|device_icon_status}}
                    {%endif%}
                  </td>
                  <td>{{alert.created_ts|time_ago}}</td>
                </tr>
                {%endfor%}
              </table>
            {%else%}
              <div class="text-center">
                No alerts firing currently.
              </div>
            {%endif%}
          </div>
        </div>
      </div>
    </div><!-- End Alerts Firing table -->

    <!-- Alerts Table -->
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">
            Resolved Unacknowledged Alerts
          </h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive">
            {% if alerts_unacked_resolved%}
              <div class="table-responsive">
                <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Status</th>
                      <th>Alert</th>
                      <th>Device</th>
                      <th>Resolved</th>
                    </tr>
                  </thead>
                  {% for alert in alerts_unacked_resolved %}
                    <tr>
                      <td>
                        <a href="/alerts/info/{{alert.id}}">
                          <i class="fas fa-check-circle alert_resolved"></i>
                        </a>
                      </td>
                      <td>
                        <a href="/alerts/info/{{alert.id}}">{{alert.pretty_kind()}}</a>
                      </td>
                      <td>
                        {%if 'device' in alert.metas%}
                          {{devices[alert.metas['device'].value|int]|device_icon_status}}
                        {%endif%}
                      </td>
                      <td>{{alert.resolved_ts|time_ago}}</td>
                    </tr>
                  {%endfor%}


                </table>
              </div>
            {%else%}
              <p class="text-center">All alerts are acknowledged</p>
            {%endif%}
          </div>
        </div>
      </div>
    </div><!-- End Alerts table -->

  </div><!-- End Content row -->

{%endblock%}

<!-- EndFile: lan-nanny/lan_nanny/templates/alerts/dashboard.html -->
