<!-- Alert - Info -->
{% extends "layout.html" %}

{%block head%}
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
{%endblock%}

{% block content %}
  <div class="row">
    <div class="col-lg-6">
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">
          {%if alert.active == 1%}
            <i class="fas fa-exclamation-circle alert_active_red"></i>
          {%else%}
            <i class="fas fa-check-circle alert_resolved"></i>
          {%endif%}
          Alert - {{alert.pretty_kind()}}
        </h1>
      </div>
    </div>

    <!-- Delete buttons -->
    <div class="col-lg-6 text-right">
      <div>
        <div class="dropdown">
          <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Delete
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" data-toggle="modal" data-target="#deleteAlertModal">Alert</a>
            <a class="dropdown-item" data-toggle="modal" data-target="#deleteAlertsForDeviceModal">All Alerts for this device</a>
          </div>
        </div>

      </div>
    </div><!-- End Delete buttons -->
  </div>

  <div class="row">

  <!-- Alert Info -->
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">
            Info
          </h6>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            {%if device%}
              <tr>
                <td>Device</td>
                <td>{{device|device_icon_status}}</td>
              </tr>
            {%endif%}
            <tr>
              <td>Alert Type</td>
              <td>{{alert.kind|alert_pretty_kind}}</td>
            </tr>
            <tr>
              <td>Status</td>
              <td>
                {%if alert.active == 0%}
                  Resolved
                {%else%}
                  Active
                {%endif%}
              </td>
            </tr>
            <tr>
              <td>First Triggered</td>
              <td>{{alert.created_ts|time_switch}}</td>
            </tr>
            {%if alert.kind != 'new-device'%}
            <tr>
              <td>Last Observed</td>
              <td>{{alert.last_observed_ts|time_switch}}</td>
            </tr>
            <tr>
              <td>Resolved</td>
              <td>{{alert.resolved_ts|time_switch}}</td>
            </tr>
            {%endif%}

            <tr>
              <td>Acknowledged</td>
              <td>
                {%if alert.acked == 0%}
                  No
                {%else%}
                  Yes
                {%endif%}
              </td>
            </tr>
            {%if alert.message%}
              <tr>
                <td>Message</td>
                <td>
                  {{alert.message}}
                </td>
              </tr>
            {%endif%}
          </table>
        </div>
      </div>
    </div>

    <!-- Alert Actions -->
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">
            Actions
          </h6>
        </div>
        <div class="card-body">
          <div class="form-group">
            <!-- <label for="alert_acked">Alert Acknowledged</label> -->
            <input id="acked" data-entity-id="{{alert.id}}" data-on="Acknowledged" data-off="Unackwowledge" class="alert-toggle" type="checkbox" data-toggle="toggle" aria-describedby="alertAckedHelp">
            <small id="alertAckedHelp" class="form-text text-muted">Ack/Unack an alert</small>
          </div>

          <div class="form-group">
            <label for="alert_active">Deactivate Alert</label>
            <input id="active" data-entity-id="{{alert.id}}" class="alert-toggle" type="checkbox" data-toggle="toggle" aria-describedby="alertActiveHelp">
            <small id="alertActiveHelp" class="form-text text-muted">Deactivate the alert.</small>
          </div>
        </div>
      </div>
    </div><!-- END Alert Actions -->
    
    {%if g.options['beta-features'].value %}
      <!-- Device Alert Options -->
        <div class="col-xl-6 col-lg-6">
          <div class="card shadow mb-4">
            <!-- Card Header -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">
                Device Alert Options
              </h6>
            </div>
            <div class="card-body">

              <!-- Alert Online form -->
              <div class="form-group">
                <label for="alert_device_online">Alert Online</label>
                <input id="alert_online" data-entity-id="{{device.id}}" class="alert-toggle" type="checkbox" data-toggle="toggle" aria-describedby="alert_device_online_help">
                <small id="alert_device_online_help" class="form-text text-muted">Alert when device comes online.</small>
              </div>

              <!-- Alert Offline form -->
              <div class="form-group">
                <label for="alert_device_offline">Alert Offline</label>
                <input id="alert_offline" data-entity-id="{{device.id}}" class="alert-toggle" type="checkbox" data-toggle="toggle" aria-describedby="alertDeviceOfflinedHelp">
                <small id="alertDeviceOfflinedHelp" class="form-text text-muted">Alert when device goes offline.</small>
              </div>

              <!-- Alert Jitter Form -->
              <div class="form-group">
                <label for="alert_jitter">Alert Jitter Time</label>
                <input type="number" class="form-control form-sm" id="alert_jitter" name="alert_jitter" value="" data-entity-id="{{device.id}}" aria-describedby="alert_jitter_help">
                <small id="alert_jitter_help" class="form-text text-muted">Some devices come on and off network sporadically, making it desirable to set a custom value to consider a device offline rather than the system setting (currently <b>{{g.options['active-timeout'].value}}</b> minutes).</small>
              </div>

            </div>
          </div>
        </div><!-- END Device Alert Options -->
    {%endif%}

  </div>

{%endblock%}

{%block modal%}
  <!-- Delete Alert Modal -->
  <div class="modal fade" id="deleteAlertModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Alert</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete this alert?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a href="/alerts/delete/{{alert.id}}" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div><!-- End Delete Alert Modal -->

  <!-- Delete All Alerts for Device Modal -->
  <div class="modal fade" id="deleteAlertsForDeviceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Alert</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to delete ALL alerts for this device?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <a href="/alerts/delete-for-device/{{device.id}}" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>

{%endblock%}

{%block javascript%}
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
  <script type="text/javascript">
    $( document ).ready(function(){
      var alert_acked_initial_status = convert_str_bool("{{alert.acked}}");
      var alert_active_initial_status = convert_str_bool("{{alert.active}}");
      register_toggle_ajax(
        '/alerts/alert-quick-save',
        '#acked',
        alert_acked_initial_status);
      register_toggle_ajax(
        '/alerts/alert-quick-save',
        '#active',
        alert_active_initial_status);

      // Device Alert Offline Ajax
      {%if device.metas['alert_offline'] %}
        var device_alert_offline_status = convert_str_bool("{{device.metas['alert_offline'].value}}");
      {%else%}
        var device_alert_offline_status = false;
      {%endif%}
      register_toggle_ajax(
        '/device/quick-save',
        '#alert_offline',
        device_alert_offline_status);

      // Device Alert Online Ajax
      {%if device.metas['alert_online'] %}
        var device_alert_online_status = convert_str_bool("{{device.metas['alert_online'].value}}");
      {%else%}
        var device_alert_online_status = false;
      {%endif%}
      register_toggle_ajax(
        '/device/quick-save',
        '#alert_online',
        device_alert_online_status);

      // Device alert jitter  form
      {%if device.metas['alert_jitter'] %}
        var device_alert_jitter_status = "{{device.metas['alert_jitter'].value}}";
      {%else%}
        var device_alert_jitter_status = null;
      {%endif%}

      register_number_ajax(
        '/device/quick-save',
        "#alert_jitter",
        device_alert_jitter_status
      );

    });
  </script>
{%endblock%}

<!-- END: Alert - Info -->
