<!-- Alert - Info -->
{% extends "layout.html" %}

{%block head%}
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
{%endblock%}

{% block content %}
  <div class="row">
    <div class="col-lg-6">
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Alert - {{alert.device.name}}</h1>
      </div>
    </div>
  </div>

  <!-- Content Row -->
  <div class="row">

    <!-- Alert Info -->
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">
            Info
          </h6>
        </div>

        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive">
            <table class="table" id="dataTable" width="100%" cellspacing="0">
              <tr>
                <td>Device</td>
                <td>
                  <a href="/device/info/{{alert.device.id}}">{{alert.device.name}}</a>
                </td>
              </tr>
              <tr>
                <td>Created</td>
                <td>{{alert.created_ts|smart_time}}</td>
              </tr>
              <tr>
                <td>Acknowledged</td>
                <td>
                  {%if alert.acked%}
                    Acknowledged
                  {%else%}
                    Unacknowledged
                  {%endif%}
                </td>
              </tr>
              <tr>
                <td>Active</td>
                <td>{{alert.active}}</td>
              </tr>

            </table>
          </div>
        </div>
      </div>
    </div>

  <!-- Alert Actions -->

    <div class="col-xl-6 col-lg-6">

      <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">
            Alerts
          </h6>
        </div>
        <div class="card-body">
          <div class="form-group">
            <!-- <label for="alert_acked">Alert Acknowledged</label> -->
            <input id="acked" data-entity-id="{{alert.id}}" data-on="Acknowledged" data-off="Unackwowledge" class="alert-toggle" type="checkbox" data-toggle="toggle" aria-describedby="alertAckedHelp">
            <small id="alertAckedHelp" class="form-text text-muted">Ack/Unack an alert</small>
          </div>

          <div class="form-group">
            <label for="alert_active">Deactivate Alert</label>
            <input id="active" data-entity-id="{{alert.id}}" class="alert-toggle" type="checkbox" data-toggle="toggle" aria-describedby="alertActiveHelp">
            <small id="alertActiveHelp" class="form-text text-muted">Deactivate the alert.</small>
          </div>

        </div>
      </div>
    </div>

  </div>

{%endblock%}

{%block javascript%}
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
  <script type="text/javascript">
    $( document ).ready(function(){
      var alert_acked_initial_status = convert_str_bool("{{alert.acked}}");
      var alert_active_initial_status = convert_str_bool("{{alert.active}}");
      register_toggle_ajax(
        '/alert/alert-quick-save',
        '#acked',
        alert_acked_initial_status);
      register_toggle_ajax(
        '/alert/alert-quick-save',
        '#active',
        alert_active_initial_status);
    });
  </script>
{%endblock%}

<!-- END: Alert - Info -->
