<!-- Alert Roster -->

{% extends "layout.html" %}
{% block content %}
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Alerts</h1>
  </div>
  <div class="row">
    {% with active_page=active_page_alerts %}
      {% include "alerts/sub_nav.html" %}
    {% endwith %}
  </div>

  <!-- Content Row -->
  <div class="row">

    <!-- Alerts Table -->
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive">
            {%if alerts%}
              <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Status</th>
                    <th>Alert</th>
                    <th>Device</th>
                    <th>Created</th>
                    <th>Resolved</th>
                  </tr>
                </thead>
                {% for alert in alerts %}
                <tr>
                  <td>
                    {%if alert.active%}
                      {%if alert.kind == 'new-device'%}
                        <i class="fas fa-exclamation-circle alert_active_yellow"></i>
                      {%else%}
                        <i class="fas fa-exclamation-circle alert_active_red"></i>
                      {%endif%}
                    {%else%}
                      <i class="fas fa-check-circle alert_resolved"></i>
                    {%endif%}
                  </td>
                  <td>
                    {%if alert.kind == 'device-offline'%}
                      <a href="/alerts/info/{{alert.id}}">Device Offline</a>
                    {%elif alert.kind == 'new-device'%}
                      <a href="/alerts/info/{{alert.id}}">New Device</a>
                    {%endif%}
                  </td>
                  <td>
                    {%if 'device' in alert.metas%}
                      {{devices[alert.metas['device'].value|int]|device_icon_status}}
                    {%endif%}
                  </td>
                  <td>{{alert.created_ts|time_ago}}</td>
                  <td>{{alert.resolved_ts|time_ago}}</td>
                </tr>
                {%endfor%}
              </table>
            {%else%}
              <div class="text-center">
                No alerts registered yet.
              </div>
            {%endif%}
          </div>
      </div>
    </div><!-- End alerts table -->

  </div><!-- End Content Row -->

{%endblock%}

<!-- EndFile: lan-nanny/lan_nanny/templates/alerts/roster.html -->
