<!-- Alert Roster -->

{% extends "layout.html" %}
{% block content %}
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Alerts</h1>
  </div>
  <!-- Start Sub Nav -->
  <div class="row">
    {% with active_page=active_page_alerts %}
      {% include "alerts/sub_nav.html" %}
    {% endwith %}
  </div><!-- End Sub nav -->

  <!-- Start Mini Nav -->
<!--   <div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>

  </div> -->
  <!-- End Mini Nav-->

  {% with pagination=pagination, alignment="center" %}
    {% include "pagination.html" %}
  {% endwith %}

  <!-- Content Row -->
  <div class="row">

    <!-- Alerts Roster Table -->
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive">
            {%if alerts%}
              <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Status</th>
                    <th>Alert</th>
                    <th>Device</th>
                    <th>Created</th>
                    <th>Resolved</th>
                  </tr>
                </thead>
                {% for alert in alerts %}
                <tr>
                  <td>
                    {{alert|alert_icon_status}}
                  </td>
                  <td>
                      <a href="/alerts/info/{{alert.id}}">{{alert.kind|alert_pretty_kind}}</a>
                  </td>
                  <td>
                    {%if 'device' in alert.metas%}
                      {{devices[alert.metas['device'].value|int]|device_icon_status}}
                    {%endif%}
                  </td>
                  <td>{{alert.created_ts|time_ago}}</td>
                  <td>{{alert.resolved_ts|time_ago}}</td>
                </tr>
                {%endfor%}
              </table>
            {%else%}
              <div class="text-center">
                No alerts registered yet.
              </div>
            {%endif%}
          </div>
      </div>
    </div><!-- End Alert Roster Table -->

  </div><!-- End Main Content Row -->

  {% with pagination=pagination, alignment="center" %}
    {% include "pagination.html" %}
  {% endwith %}

{%endblock%}

<!-- EndFile: lan-nanny/lan_nanny/templates/alerts/roster.html -->
