<ul class="col-lg-6 nav roster_nav">
  <li class="nav-item">
    <a class="nav-link {%if active_page=='general' %}active_sub_link{%endif%}" href="/settings">General</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {%if active_page=='scan' %}active_sub_link{%endif%}" href="/settings/scanning">Scanning</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {%if active_page=='database' %}active_sub_link{%endif%}" href="/settings/database">Database</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {%if active_page=='password' %}active_sub_link{%endif%}" href="/settings/password">Password</a>
  </li>
</ul> 
