<ul class="col-lg-6 nav sub_nav">
  <li class="nav-item">
    <a class="nav-link {%if active_page=='general' %}active{%endif%}" href="/settings">General</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {%if active_page=='scan' %}active{%endif%}" href="/settings/scanning">Scanning</a>
  </li>
  {%if g.options['beta-features'].value %}
    <li class="nav-item">
      <a class="nav-link {%if active_page=='alerts' %}active{%endif%}" href="/settings/alerts">Alerts</a>
    </li>
  {%endif%}
  <li class="nav-item">
    <a class="nav-link {%if active_page=='database' %}active{%endif%}" href="/settings/database">Database</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {%if active_page=='security' %}active{%endif%}" href="/settings/security">Security</a>
  </li>
</ul> 
