<!-- Scans Dashboard -->
{% extends "layout.html" %}
{% block content %}

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Scan Dashboard</h1>
  </div>

  {% with active_page=active_page_sub %}
    {% include "scans/sub_nav.html" %}
  {% endwith %}

  <!-- Stats Row -->
  <div class="row">

    <!-- Host Scans today -->
    <div id="devices_online" class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Host Scans Today</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{host_scans_today}}</div>
              <small>Avg scan time <b>{{host_scan_avg_24}}</b> secs</small>
            </div>
            <div class="col-auto">
              <i class="fas fa-bolt fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Last Host Scan -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Host Scan Status</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {%if host_scan_last.completed%}
                  {{host_scan_last.end_ts|smart_time}}
                {%else%}
                  Currently Running
                {%endif%}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-network-wired fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Port Scans Today -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Port Scans Today</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {{port_scans_today}}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-plus fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Last Port Scan -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Port Scan Status</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                {%if port_scan_last.completed%}
                  {{port_scan_last.end_ts|smart_time}}
                {%else%}
                  Currently Running
                {%endif%}
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- End Stats Row -->


  <!-- Content Row -->
  <div class="row">
    <!-- Last Host Scans Table -->
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">
            Recent Host Scans
          </h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive">
            {%if last_host_scans %}
              <table class="table" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th></th>
                    <th>Started</th>
                    <th>Elapsed Time</th>
                  </tr>
                </thead>
                {%for scan in last_host_scans%}
                  <tr>
                    <td>
                      {%if scan.completed==1 and scan.success==1%}
                        <a href="/scan/info/host/{{scan.id}}">
                          <i class="fas fa-check scan-success"></i>
                        </a>
                      {%else%}
                        <a href="/scan/info/host/{{scan.id}}">
                          <i class="fas fa-exclamation-triangle scan-fail"></i>
                        </a>
                      {%endif%}
                    </td>
                    <td>{{scan.created_ts|smart_time}}</td>
                    <td>
                      {%if scan.elapsed_time%}
                        {{scan.elapsed_time|round(2)}} sec
                      {%endif%}
                    </td>
                  </tr>
                {%endfor%}
              </table>
            {%endif%}
          </div>
        </div>
      </div>
    </div><!-- End Last Host Scans -->

    <!-- Last Host Scans Table -->
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">
            Recent Port Scans
          </h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive">
            {%if last_port_scans %}
              <table class="table" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th></th>
                    <th>Device</th>
                    <th>Started</th>
                    <th class="d-none d-sm-block">Elapsed Time</th>
                  </tr>
                </thead>
                {%for scan in last_port_scans%}
                  <tr>
                    <td>
                      {%if scan.completed==1 and scan.success==1%}
                        <a href="/scan/info/port/{{scan.id}}">
                          <i class="fas fa-check scan-success"></i>
                        </a>
                      {%elif not scan.completed and scan.success == None%}
                      <a href="/scan/info/port/{{scan.id}}">
                        <i class="fas fa-spin fa-pulse fa-spinner alert_active_yellow" style="color:#ff9900"></i>
                      </a>
                      {%else%}
                        <a href="/scan/info/port/{{scan.id}}">
                          <i class="fas fa-exclamation-triangle scan-fail"></i>
                        </a>
                      {%endif%}
                    </td>
                    <td>
                      {{port_devices[scan.device_id]|device_icon_status}}
                    </td>
                    <td>{{scan.created_ts|smart_time}}</td>
                    <td class="d-none d-sm-block">
                      {%if scan.elapsed_time%}
                        {{scan.elapsed_time|round_seconds}} sec
                      {%endif%}
                    </td>
                  </tr>
                {%endfor%}
              </table>
            {%endif%}
          </div>
        </div>
      </div>
    </div><!-- End Last Port Scans -->

  </div><!-- End row -->


{%endblock%}

<!-- EndFile: lan-nanny/lan_nanny/templates/scans/dashboard.html -->