<!-- Scan Host - Info -->
{% extends "layout.html" %}
{% block content %}
  <div class="row">
    <div class="col-lg-6">
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Hosts Scan {{scan.id}}</h1>
      </div>
    </div>
  </div>

  <!-- Content Row -->
  <div class="row">
    <!-- Scan Info -->
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">
            Scan Info
          </h6>
        </div>

        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
              <tr>
                <td><strong>ID</strong></td>
                <td>{{scan.id}}</td>
              </tr>
              <tr>
                <td><strong>Start</strong></td>
                <td>{{scan.created_ts|smart_time}}</td>
              </tr>
              <tr>
                <td><strong>End</strong></td>
                <td>{{scan.end_ts|smart_time}}</td>
              </tr>
              <tr>
                <td><strong>Status</strong></td>
                <td>
                  {%if scan.completed%}Completed{%endif%}
                </td>
              </tr>
              <!-- 
              <tr>
                <td><strong>Devices Found</strong></td>
                <td>{{scan.units}}</td>
              </tr> -->

              <tr>
                <td><strong>Total Time</strong></td>
                <td>{{scan.elapsed_time|round(2)}}</td>
              </tr>
              <tr>
                <td><strong>Command</strong></td>
                <td><code>{{scan.command}}</pre></td>
              </tr>
              <tr>
                <td><strong>Trigger</strong></td>
                <td>{{scan.trigger}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

    </div>

    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">
            Devices Found {{witnesses|length}}
          </h6>
        </div>

        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive">
            {%if witnesses%}
              <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                {%for witness in witnesses%}
                <tr>
                  <td>{{witness.device|device_icon_status}}</td>
                </tr>
                {%endfor%}
              </table>
            {%else%}
              <div class="text-center">
                No devices found in this scan.
              </div>
            {%endif%}
          </div>
        </div>
      </div>

    </div>

  </div>
{%endblock%}

