<!-- Scan Ports - Roster -->

{% extends "layout.html" %}
{% block content %}
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Scan Ports - {{pagination['total_units']}}</h1>
  </div>

  <!-- Sub Nav -->
  <div class="row">
    {% with active_page_scans=active_page_scans %}
      {% include "scans/sub_nav.html" %}
    {% endwith %}
    {% with pagination=pagination, alignment="right" %}
      {% include "pagination.html" %}
    {% endwith %}
  </div>
  <!-- End Sub Nav -->

  <!-- Content Row -->
  <div class="row">

    <!-- Roster Ports Table -->
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive">
            {%if scans%}
              <table class="table" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <td>Started</td>
                    <td>Ports Found</td>
                    <td>Trigger</td>
                    <td>Total Time</td>
                  </tr>
                </thead>
                {% for scan in scans %}
                <!--  href="/scan/info/host/{{scan.id}} -->
                <tr class="{%if scan.completed==1 and scan.success==1%}table-success{%endif%}" class="link_row" data-href="/scan/info/hosts/{{scan.id}}">
                  <td>
                    <a href="/scan/info/port/{{scan.id}}">{{scan.created_ts|smart_time}}</a>
                  </td>
                  <td>
                    {%if scan.units%}
                      {{scan.units}}
                    {%endif%}
                  </td>
                  <td>{{scan.trigger}}</td>
                  <td>
                    {%if scan.elapsed_time%}
                      {{scan.elapsed_time}} sec
                    {%endif%}
                  </td>
                </tr>
                {%endfor%}
              </table>
            {%else%}
              <div class="text-center">
                No scan yets.
              </div>
            {%endif%}
          </div>
      </div>
    </div>

  </div><!-- End Main Content Row-->

  {% with pagination=pagination, alignment="center" %}
    {% include "pagination.html" %}
  {% endwith %}

{%endblock%}

{%block javascript%}
  <script type="text/javascript">
    $( document ).ready(function(){
      $(".link_row").click(function() {
          window.location = $(this).data("href");
      });
    });
  </script>
{%endblock%}