<!-- Scan Port - Info -->
{% extends "layout.html" %}
{% block content %}
  <div class="row">
    <div class="col-lg-6">
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Scan {{scan.id}}</h1>
      </div>
    </div>
  </div>

  <!-- Content Row -->
  <div class="row">
    <!-- Scan Info -->
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">
            Scan Info
          </h6>
        </div>

        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
              <tr>
                <td><strong>ID</strong></td>
                <td>{{scan.id}}</td>
              </tr>
              <tr>
                <td><strong>Start</strong></td>
                <td>{{scan.created_ts|smart_time}}</td>
              </tr>

              <tr>
                <td><strong>Device</strong></td>
                <td>{{device|device_icon_status}}</td>
              </tr>
              <tr>
                <td><strong>State</strong></td>
                <td>
                  {%if scan.completed%}
                    Completed
                  {%else%}
                    In Progress
                  {%endif%}
                </td>
              </tr>
              <tr>
                <td><strong>Status</strong></td>
                <td>
                  {%if scan.completed==1 and scan.success==1%}
                    Success
                  {%elif not scan.completed and scan.success == None%}
                    In Progress
                  {%else%}
                    Failed
                  {%endif%}
                </td>
              </tr>
              <!-- 
              <tr>
                <td><strong>Devices Found</strong></td>
                <td>{{scan.units}}</td>
              </tr> -->

              <tr>
                <td><strong>Total Time</strong></td>
                <td>
                  {%if scan.elapsed_time%}
                    {{scan.elapsed_time|round_seconds}} seconds
                  {%endif%}
                </td>
              </tr>
              <tr>
                <td><strong>Command</strong></td>
                <td><code>{{scan.command}}</code></td>
              </tr>
              <tr>
                <td><strong>Trigger</strong></td>
                <td>{{scan.trigger}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

    </div>


  </div>
{%endblock%}

<!-- End File: lan-nanny/templates/scans/info_port.html
