<!-- Scan Ports - Roster -->

{% extends "layout.html" %}
{% block content %}
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
      Scan Ports
      {%if pagination['total_units']%}<span class="badge badge-secondary">{{pagination['total_units']}}</span>{%endif%}
    </h1>
  </div>

  <!-- Sub Nav -->
  <div class="row">
    {% with active_page=active_page_sub %}
      {% include "scans/sub_nav.html" %}
    {% endwith %}
    {% with pagination=pagination, alignment="right" %}
      {% include "pagination.html" %}
    {% endwith %}
  </div>
  <!-- End Sub Nav -->

  <!-- Content Row -->
  <div class="row">

    <!-- Roster Ports Table -->
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive">
            {%if scans%}
              <table class="table" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <td>Status</td>
                    <td>Device</td>
                    <td>Started</td>
                    <td>Ports Found</td>
                    <td>Trigger</td>
                    <td>Total Time</td>
                  </tr>
                </thead>
                {% for scan in scans %}
                <!--  href="/scan/info/host/{{scan.id}} -->
                <tr class="link_row" data-href="/scan/info/port/{{scan.id}}">
                  <td>
                    {%if scan.completed and scan.success%}
                      <a href="/scan/info/port/{{scan.id}}">
                        <i class="fas fa-check scan-success"></i>
                      </a>
                    {%elif not scan.completed and scan.success == None%}
                    <a href="/scan/info/port/{{scan.id}}">
                      <i class="fas fa-spin fa-pulse fa-spinner alert_active_yellow" style="color:#ff9900"></i>
                    </a>
                    {%else%}
                    <a href="/scan/info/port/{{scan.id}}">
                      <i class="fas fa-exclamation-triangle scan-fail"></i>
                    </a>
                    {%endif%}
                  </td>
                  <td>
                    {{devices[scan.device_id]|device_icon_status}}
                  </td>
                  <td>{{scan.created_ts|smart_time}}</td>
                  <td>
                    {%if scan.units%}
                      {{scan.units}}
                    {%endif%}
                  </td>
                  <td>
                    {{scan.trigger}}
                  </td>
                  <td>
                    {%if scan.elapsed_time%}
                      {{scan.elapsed_time|round(2)}} sec
                    {%endif%}
                  </td>
                </tr>
                {%endfor%}
              </table>
            {%else%}
              <div class="text-center">
                No scan yets.
              </div>
            {%endif%}
          </div>
      </div>
    </div>

  </div><!-- End Main Content Row-->

  {% with pagination=pagination, alignment="center" %}
    {% include "pagination.html" %}
  {% endwith %}

{%endblock%}

{%block javascript%}
  <script type="text/javascript">
    $( document ).ready(function(){
      $(".link_row").click(function() {
          window.location = $(this).data("href");
      });
    });
  </script>
{%endblock%}