{% extends "layout.html" %}
{% block content %}

  <div class="row">
    <div class="col-lg-6">
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Alert - {{alert.device.name}}</h1>
      </div>
    </div>
  </div>

  <!-- Content Row -->
  <div class="row">

    <!-- Device Info -->
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">
            Info
          </h6>
        </div>

        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive">
            <table class="table" id="dataTable" width="100%" cellspacing="0">
              <tr>
                <td>Created</td>
                <td>{{alert.created_ts|pretty_time}}</td>
              </tr>
              <tr>
                <td>Acknowledged</td>
                <td>{{alert.acked}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

{%endblock%}

