<!-- Ports Dashboard -->
{% extends "layout.html" %}

{% block content %}
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
      Ports
      <span class="badge badge-secondary">{{ports_total}}</span>
    </h1>
  </div>
  <div class="row">
    {% with active_page=active_page_ports %}
      {% include "ports/sub_nav.html" %}
    {% endwith %}
  </div>

  {%if not g.options['scan-ports-enabled'].value %}
  <!-- Content Row -->
  <div class="row">
    <!-- Port Scanning Disabled Warning -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Port Scanning Disabled</div>
              <div class="mb-0 font-weight-bold text-gray-800"><a href="/settings/scanning">Re-enable</a></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-exclamation-triangle fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div><!-- END - Port Scanning Disabled Warning -->
  </div><!-- END - Content Row -->
  {%endif%}

  <!-- Content Row -->
  <div class="row">

    <!-- Ports Table -->
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">
            Privileged Ports Found
          </h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive">
            {%if ports%}
              <table class="table" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <td>Name</td>
                    <td>Name</td>
                    <td>Protocol</td>
                  </tr>
                </thead>
                {% for port in ports %}
                <tr>
                  <td><a href="/ports/info/{{port.id}}">{{port.number}}</a></td>
                  <td>{{port.service}}</td>
                  <td>{{port.protocol}}</td>
                </tr>
                {%endfor%}
              </table>
            {%else%}
              <div class="text-center">
                No Ports Found.
              </div>
            {%endif%}
          </div>
        </div>
      </div>
    </div>

    <!-- Devices with port scanning -->
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">
            Devices with Port Scanning Enabled
          </h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive">

            {%if devices%}
              <table class="table table-striped">
                <thead>
                  <tr>
                    <td>Device</td>
                    <td>Last Port Scan</td>
                  </tr>
                </thead>
                {% for device in devices %}
                <tr>
                  <td>{{device|device_icon_status}}</td>
                  <td>{{device.last_port_scan|smart_time}}</td>
                </tr>
                {%endfor%}
              </table>
            {%else%}
              <div class="text-center">
                No devices with port scanning enabled.
              </div>
            {%endif%}
          </div>
        </div>
      </div>
    </div>

  </div>

{%endblock%}

{%block javascript%}
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
{%endblock%}
<!-- EndFile: lan-nanny/lan_nanny/templates/ports/dashboard.html -->
