<!-- Ports Roster -->
{% extends "layout.html" %}

{% block content %}
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Ports</h1>
  </div>

  <!-- Content Row -->
  <div class="row">

    <!-- Ports Table -->
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">
            Discovered Ports
          </h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive">
            {%if ports%}
              <table class="table" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <td>Name</td>
                    <td>Service Name</td>
                    <td>Protocol</td>
                  </tr>
                </thead>
                {% for port in ports %}
                <tr>
                  <td><a href="/ports/info/{{port.port}}/{{port.protocol}}">{{port.port}}</a></td>
                  <td>{{port.service}}</td>
                  <td>{{port.protocol}}</td>
                </tr>
                {%endfor%}
              </table>
            {%else%}
              <div class="text-center">
                No Ports Found.
              </div>
            {%endif%}
          </div>
        </div>
      </div>
    </div>

    <!-- Devices with port scanning -->
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">
            Devices with Port Scanning Enabled
          </h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive">

            {%if devices%}
              <table class="table" id="dataTable" width="100%" cellspacing="0">
                {% for device in devices %}
                <tr>
                  <td>{{device|device_icon_status}}</td>
                  <td>{{device.last_port_scan|smart_time}}</td>
                </tr>
                {%endfor%}
              </table>
            {%else%}
              <div class="text-center">
                No devices with port scanning enabled.
              </div>
            {%endif%}
          </div>
        </div>
      </div>
    </div>

  </div>

{%endblock%}

{%block javascript%}
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
{%endblock%}
<!-- EndFile: lan-nanny/lan_nanny/templates/ports/roster.html -->
