<!-- Port Roster -->
{% extends "layout.html" %}
{% block head%}
  <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{%endblock%}
{% block content %}
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">
      Ports
      <span class="badge badge-secondary">{{ports_total}}</span>
    </h1>
  </div>
  <div class="row">
    {% with active_page=active_page_ports %}
      {% include "ports/sub_nav.html" %}
    {% endwith %}
  </div>
  
  {% with pagination=pagination, alignment="center" %}
    {% include "pagination.html" %}
  {% endwith %}
  
  <!-- Content Row -->
  <div class="row">

    <!-- Device Table -->
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive">
            {%if ports%}
              <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <td>Number</td>
                    <td>Service Name</td>
                    <td>Protocol</td>
                    <td>Last Seen Open</td>
                  </tr>
                </thead>
                {% for port in ports %}
                <tr>
                  <td><a href="/ports/info/{{port.id}}">{{port.number}}</a></td>
                  <td>{{port.service}}</td>
                  <td>{{port.protocol}}</td>
                  <td>{{port.updated_ts|smart_time}}</td>
                </tr>
                {%endfor%}
              </table>
            {%else%}
              <div class="text-center">
                No Ports Found.
              </div>
            {%endif%}
          </div>
      </div>
    </div>
  </div> <!-- End Main Content -->

  {% with pagination=pagination, alignment="center" %}
    {% include "pagination.html" %}
  {% endwith %}

{%endblock%}

{%block javascript%}
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>
{%endblock%}

<!-- EndFile: lan-nanny/lan_nanny/templates/ports/roster.html -->
