<!-- Device Info -->

{% extends "layout.html" %}

{%block head%}
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
{%endblock%}

{% block content %}
  {% with active_page=active_page_device %}
    {% include "device/heading.html" %}
  {% endwith %}

  <!-- Content Row -->
  <div class="row">
    <!-- Device Info -->
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">
            Info
          </h6>
        </div>

        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
              <tr>
                <td><b>IP</b></td>
                <td>
                  <code>{{device.ip}}</code>
                </td>
              </tr>
              {%if device.macs|length == 1 %}
                <tr>
                  <td><b>Mac</b></td>
                  <td><code>{{device.macs[0].mac_addr}}</code></td>
                </tr>
              {%else%}
                {%for mac in device.macs%}
                <tr>
                  <td>
                    {% if loop.index == 1 %}
                      <b>Macs</b>
                    {% endif %}
                  </td>
                  <td><code>{{mac.mac_addr}}</code></td>
                </tr>
                {%endfor%}
              {%endif%}
              <tr>
                <td><b>Vendor</b></td>
                <td>
                  {%if device.vendor %}
                    {{device.vendor}}
                  {%endif%}
                </td>
              </tr>
              <tr>
                <td><b>Type</b></td>
                <td>
                  {%if device.kind %}
                    {{device.kind}}
                  {%endif%}
                </td>
              </tr>
              <tr>
                <td><b>Status</b></td>
                {%if device.last_seen|online%}
                  <td>Online</td>
                {%else%}
                  <td>Disconnected</td>
                {%endif%}
              </tr>
              <tr>
                <td><b>Last Seen</b></td>
                <td>
                  {%if device.last_seen %}
                    {{device.last_seen|time_switch}}
                  {%else%}
                    Never
                  {%endif%}
                </td>
              </tr>
              <tr>
                <td><b>First Seen</b></td>
                <td>{{device.first_seen|pretty_time}}</td>
              </tr>

              {%if g.options['beta-features'].value %}
                <tr>
                  <td><b>Identified</b></td>
                  <td>
                    {%if device.identified%}
                      True
                    {%else%}
                      <span style="color: red;">False</span>
                    {%endif%}
                  </td>
                </tr>
              {%endif%}

              <tr>
                <td><b>Port Scanning</b></td>
                <td>
                  {%if device.port_scan%}
                    Enabled
                  {%else%}
                    Disabled
                  {%endif%}
                </td>
              </tr>
              <tr>
                <td><b>Last Port Scan</b></td>
                <td>
                  {% if device.last_port_scan%}
                    {{device.last_port_scan|time_switch}}
                  {%else%}
                    Never Ran
                  {%endif%}
                </td>
              </tr>
              {% if 'notes' in device.metas%}
                <tr>
                  <td><b>Notes</b></td>
                  <td>
                      {{device.metas['notes'].value}}
                  </td>
                </tr>
              {%endif%}
            </table>
          </div>
        </div>
      </div>
    </div><!-- END Device Info -->

    <!-- Device Ports -->
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">
            <a href="/device/info/ports/{{device.id}}">Ports</a>
          </h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive">
            {%if ports%}
              <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <td></td>
                    <td>Port</td>
                    <td>Service</td>
                    <td>Protocol</td>
                    <td>Last Seen</td>
                  </tr>
                </thead>
                {%for port in ports%}
                  <tr>
                    <td>
                      {%if port.last_seen|port_online %}
                        <i class="fas fa-bolt device_info_connect connected_bolt"></i>
                      {%endif%}
                    </td>
                    <td>
                      <a href="/ports/info/{{port.port.id}}">{{port.port.number}}</a>
                    </td>
                    <td>{{port.port.service}}</td>
                    <td>{{port.port.protocol}}</td>
                    <td>{{port.last_seen|smart_time}}</td>
                  </tr>
                {%endfor%}
              </table>
              {%if ports|length < device.ports|length%}
                Showing {{ports|length}} of {{device.ports|length}} total discovered for device due to relevance.<br>
                Only ports below 1000 and or seen open within the last {{g.options['port-open-timeout'].value }} hours are shown here.<br>
                To see all ports <a href="/device/ports/{{device.id}}">click here</a>.
              {%else%}
                Showing all known ports.<br>
                For more port info <a href="/device/ports/{{device.id}}">click here</a>
              {%endif%}
            {%elif device.port_scan==1%}
              No  relevant ports recently found for device.<br>
              To see all device ports <a href="/device/ports/{{device.id}}">click here</a>
            {%else%}
              No ports found, enable port scanning for this device.
            {%endif%}
          </div>
        </div>
      </div>
    </div><!-- End Device Ports-->


    <!-- Device Macs -->
    {%if device.macs|length > 1 %}  
      <div class="col-xl-6 col-lg-6">
        <div class="card shadow mb-4">
          <!-- Card Header -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">
              <a href="/device/info/ports/{{device.id}}">Macs</a>
            </h6>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <td></td>
                    <td>Mac</td>
                    <td>IP</td>
                    <td>Last Seen</td>
                  </tr>
                </thead>
                {%for mac in device.macs%}
                <tr>
                  <td></td>
                  <td><code>{{mac.mac_addr}}</code></td>
                  <td><code>{{mac.ip_addr}}</code></td>
                  <td>{{mac.last_seen|time_switch}}</td>
                </tr>
                {%endfor%}
              </table>

            </div>
          </div>
        </div>
      </div><!-- End Device Macs-->
    {%endif%}
  
    {%if g.options['beta-features'].value %}
      <!-- Device Stats -->
      <div class="col-xl-6 col-lg-6">
        <div class="card shadow mb-4">
          <!-- Card Header -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">
              Stats
            </h6>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            here we go

            <div class="chart-area">
                <canvas id="myAreaChart"></canvas>
            </div>

            <div class="table-responsive">
              <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                <tr>
                  <td>Connectivity last 24 hours</td>
                  <td>{{device_over_day['device_online_percent']}}%</td>
                </tr>
                <tr>
                  <td>Connectivity last week</td>
                  <td>{{device_over_week['device_online_percent']}}%</td>
                </tr>
              </table>
              
            </div>
          </div>
        </div>
      </div><!-- End Device Stats-->
    {%endif%}

    <!-- Device Alerts Enabled-->
    {%if g.options['beta-features'].value and g.options['alerts-enabled'].value %}
      {%if ('alert_online' in device.metas and device.metas['alert_online'].value) or ('alert_offline' in device.metas and device.metas['alert_offline'].value)%}
        <div class="col-xl-6 col-lg-6">
          <div class="card shadow mb-4">
            <!-- Card Header -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">
                Device Alerts Enabled
              </h6>
            </div>
            <div class="card-body">

              <table class="table table-striped">
                <tr>
                  <thead>
                    <td>Alert Type</td>
                    <td>Enabled</td>
                  </thead>
                  {%if 'alert_online' in device.metas and device.metas['alert_online'].value %}
                  <tr>
                    <td>Online</td>
                    <td><code>{{device.metas['alert_online'].value}}</code></td>
                  </tr>
                  {%endif%}
                  {%if 'alert_offline' in device.metas and device.metas['alert_offline'].value %}
                  <tr>
                    <td>Offline</td>
                    <td><code>{{device.metas['alert_offline'].value}}</code></td>
                  </tr>
                  {%endif%}
                </tr>
              </table>


            </div>
          </div>
        </div><!-- END Device Alerts Enabled -->
      {%endif%}
    {%endif%}

    {%if g.options['beta-features'].value %}
      {%if alerts%}
        <!-- Device Alerts -->
        <div class="col-xl-6 col-lg-6">
          <div class="card shadow mb-4">
            <!-- Card Header -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">
                Recent Alerts
              </h6>
            </div>
            <div class="card-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <td></td>
                    <td>Alert Type</td>
                    <td>Last Observed</td>
                  </tr>
                </thead>
                {%for alert in alerts%}
                <tr>
                  <td>
                    {{alert|alert_icon_status}}
                  </td>
                  <td>
                    <a href="/alerts/info/{{alert.id}}">
                      {%if alert.kind == 'new-device'%}
                        New Device
                      {%else%}
                        {{alert.kind}}
                      {%endif%}
                    </a>
                  </td>
                  <td>{{alert.last_observed_ts|smart_time}}</td>
                </tr>
                {%endfor%}
              </table>
            </div>
          </div>
        </div><!-- END Device Alerts -->
      {%endif%}
    {%endif%}

  </div>
{%endblock%}

{%block javascript%}
    <!-- Page level plugins -->
  <script src="/static/vendor/chart.js/Chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
  <script type="text/javascript">
    $( document ).ready(function(){
      var device_favorite_status = convert_str_bool("{{device.favorite}}");
      register_favorite_button('#device-favorite', device_favorite_status, '/device/favorite/{{device.id}}')

      // Device Offline Ajax
      {%if device.metas['alert_offline'] %}
        var device_alert_offline_status = convert_str_bool("{{device.metas['alert_offline'].value}}");
      {%else%}
        var device_alert_offline_status = false;
      {%endif%}
      register_toggle_ajax(
        '/device/quick-save',
        '#alert_offline',
        device_alert_offline_status);

      // Device Online Ajax
      {%if device.metas['alert_online'] %}
        var device_alert_online_status = convert_str_bool("{{device.metas['alert_online'].value}}");
      {%else%}
        var device_alert_online_status = false;
      {%endif%}
      register_toggle_ajax(
        '/device/quick-save',
        '#alert_online',
        device_alert_online_status);

      // Device Stats Graph

      // Get Device stat data

      // console.log({{device.id}});

      // var device_stat_data = function(){
      //   device_connectivity_url = "/api/device-connectivity/" + {{device.id}};
      //   console.log(device_connectivity_url);
      //   var tmp = null;

      //   $.ajax({
      //       'async': false,
      //       'type': "GET",
      //       'global': false,
      //       'dataType': 'json',
      //       'url': device_connectivity_url,
      //       'data': { 'request': "", 'target': 'arrange_url', 'method': 'method_target' },
      //       'success': function (data) {
      //           tmp = data;
      //       }
      //   });
      //   return tmp;
      // }();
      // device_stat_data;
      // console(tmp);

      // $.get(device_connectivity_url, function( data ) {
      //   device_data = data;
      //   alert( "Load was performed." );
      // });


      // Draw Device Stat data

      // Set new default font family and font color to mimic Bootstrap's default styling
      Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
      Chart.defaults.global.defaultFontColor = '#858796';

      // Area Chart Example
      var ctx = document.getElementById("myAreaChart");
      var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
          datasets: [{
            label: "Connectivity",
            lineTension: 0.3,
            backgroundColor: "rgba(78, 115, 223, 0.05)",
            borderColor: "rgba(78, 115, 223, 1)",
            pointRadius: 3,
            pointBackgroundColor: "rgba(78, 115, 223, 1)",
            pointBorderColor: "rgba(78, 115, 223, 1)",
            pointHoverRadius: 3,
            pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
            pointHoverBorderColor: "rgba(78, 115, 223, 1)",
            pointHitRadius: 10,
            pointBorderWidth: 2,
            data: [0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0],
          }],
        },
        options: {
          maintainAspectRatio: false,
          layout: {
            padding: {
              left: 10,
              right: 25,
              top: 25,
              bottom: 0
            }
          },
          scales: {
            xAxes: [{
              time: {
                unit: 'date'
              },
              gridLines: {
                display: false,
                drawBorder: false
              },
              ticks: {
                maxTicksLimit: 7
              }
            }],
            yAxes: [{
              ticks: {
                maxTicksLimit: 5,
                padding: 10,
                // Include a dollar sign in the ticks
                callback: function(value, index, values) {
                  return value;
                }
              },
              gridLines: {
                color: "rgb(234, 236, 244)",
                zeroLineColor: "rgb(234, 236, 244)",
                drawBorder: false,
                borderDash: [2],
                zeroLineBorderDash: [2]
              }
            }],
          },
          legend: {
            display: false
          },
          tooltips: {
            backgroundColor: "rgb(255,255,255)",
            bodyFontColor: "#858796",
            titleMarginBottom: 10,
            titleFontColor: '#6e707e',
            titleFontSize: 14,
            borderColor: '#dddfeb',
            borderWidth: 1,
            xPadding: 15,
            yPadding: 15,
            displayColors: false,
            intersect: false,
            mode: 'index',
            caretPadding: 10,
            callbacks: {
              label: function(tooltipItem, chart) {
                var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                return datasetLabel + ': ' + tooltipItem.yLabel;
              }
            }
          }
        }
      });




    });




  </script>
{%endblock%}

<!-- End File: lan-nanny/templates/devices/info.html