<!-- Device Info -->

{% extends "layout.html" %}

{%block head%}
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
{%endblock%}

{% block content %}
  {% with active_page=active_page_devices %}
    {% include "device/heading.html" %}
  {% endwith %}

  <!-- Content Row -->
  <div class="row">

    {%if g.options['beta-features'].value %}
      <!-- Device General Options -->
      <div class="col-xl-6 col-lg-6">
        <div class="card shadow mb-4">
          <!-- Card Header -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">
              General Options
            </h6>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="identified">Identified</label>
              <input id="identified" data-entity-id="{{device.id}}" type="checkbox" data-toggle="toggle" aria-describedby="identified_help">
              <small id="identified_help" class="form-text text-muted">Device has been identified as a legitimate member of the network.</small>
            </div>
          </div>
        </div>
      </div><!-- END Device General Options -->
    {%endif%}

    <!-- Device Scan Options -->
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">
            Scan Options
          </h6>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="port_scan">Port Scan</label>
            <input id="port_scan" data-entity-id="{{device.id}}" class="alert-toggle" type="checkbox" data-toggle="toggle" aria-describedby="portScanHelp">
            <small id="portScanHelp" class="form-text text-muted">Enable port scanning of device.</small>
          </div>
        </div>
      </div>
    </div><!-- END Device Scan Options -->

    <!-- Device Alert Options -->
    {%if g.options['alerts-enabled'].value %}
      <div class="col-xl-6 col-lg-6">
        <div class="card shadow mb-4">
          <!-- Card Header -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">
              Alert Options
            </h6>
          </div>
          <div class="card-body">

            <!-- Alert Online form -->
            <div class="form-group">
              <label for="alert_device_online">Alert Online</label>
              <input id="alert_online" data-entity-id="{{device.id}}" class="alert-toggle" type="checkbox" data-toggle="toggle" aria-describedby="alert_device_online_help">
              <small id="alert_device_online_help" class="form-text text-muted">Alert when device comes online.</small>
            </div>

            <!-- Alert Offline form -->
            <div class="form-group">
              <label for="alert_device_offline">Alert Offline</label>
              <input id="alert_offline" data-entity-id="{{device.id}}" class="alert-toggle" type="checkbox" data-toggle="toggle" aria-describedby="alertDeviceOfflinedHelp">
              <small id="alertDeviceOfflinedHelp" class="form-text text-muted">Alert when device goes offline.</small>
            </div>

            <!-- Alert Jitter Form -->
            <div class="form-group">
              <label for="alert_device_jitter">Alert Jitter Time</label>
              <input type="number" class="form-control form-sm" id="alert_device_jitter" name="alert_device_jitter" value="" aria-describedby="alert_device_jitter_help">
              <small id="alert_device_jitter_help" class="form-text text-muted">Some devices come on and off network sporadically, making it desirable to set a custom value to consider a device offline rather than the system setting (currently <b>{{g.options['active-timeout'].value}}</b> minutes).</small>
            </div>

          </div>
        </div>
      </div><!-- END Device Alert Options -->
    {%endif%}         


  </div>
{%endblock%}

{%block javascript%}
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
  <script type="text/javascript">
    $( document ).ready(function(){

      var device_favorite_status = convert_str_bool("{{device.favorite}}");
      register_favorite_button('#device-favorite', device_favorite_status, '/device/favorite/{{device.id}}')

      {%if g.options['beta-features'].value %}
      // Device identified toggle.
      var device_identified_status = convert_str_bool("{{device.identified}}");
      register_toggle_ajax(
        '/device/quick-save',
        '#identified',
        device_identified_status);
      {%endif%}

      // Device port scan enable toggle.
      var device_port_scan_status = convert_str_bool("{{device.port_scan}}");
      register_toggle_ajax(
        '/device/quick-save',
        '#port_scan',
        device_port_scan_status);

      // Device Offline Ajax
      {%if device.metas['alert_offline'] %}
        var device_alert_offline_status = convert_str_bool("{{device.metas['alert_offline'].value}}");
      {%else%}
        var device_alert_offline_status = false;
      {%endif%}
      register_toggle_ajax(
        '/device/quick-save',
        '#alert_offline',
        device_alert_offline_status);

      // Device Online Ajax
      {%if device.metas['alert_online'] %}
        var device_alert_online_status = convert_str_bool("{{device.metas['alert_online'].value}}");
      {%else%}
        var device_alert_online_status = false;
      {%endif%}
      register_toggle_ajax(
        '/device/quick-save',
        '#alert_online',
        device_alert_online_status);

      // Device Jitter Ajax
      // Set the default jitter if one exists
      {%if 'alert_jitter' in device.metas %}
        $('#alert_device_jitter').val({{device.metas['alert_jitter'].value}});
      {%endif%}


      // Send the new alert jitter value if the form is changed.
      var wto;
      $('#alert_device_jitter').change(function() {
        clearTimeout(wto);
        wto = setTimeout(function() {
          console.log('Update now');
          var data = {
            "id": {{device.id}},
            "field_name": "alert_jitter",
            "field_value": $('#alert_device_jitter').val()
          }
          console.log(data);
          send_ajax_update('/device/quick-save', data);
          console.log('done');
          // do stuff when user has been idle for 1 second
        }, 500);
      });

    });
  </script>
{%endblock%}

<!-- End File: lan-nanny/templates/devices/options.html