{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="col-lg-6">
    <h2>{%if device.icon%}<i class="{{device.icon}} fa-2x"></i>  {%endif%}
    {%if device.name%}{{device.name}}{%endif%}</h2>
  </div>
  <div class="col-lg-2">
    <a id="device-favorite" href="#" class="btn btn-warning btn-circle btn-lg">
      {%if device.favorite == 0%}
        <i class="fa fa-star-o"></i>
      {%else%}
        <i class="fas fa-star"></i>
      {%endif%}
    </a>
  </div>
  <div class="col-lg-2">
    <a href="/device-edit/{{device.id}}" class="btn btn-primary">Edit</a>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <table class="table table-striped">
      <tr>
        <td><b>IP</b></td>
        <td>{{device.ip}}</td>
      </tr>
      <tr>
        <td><b>Status</b></td>
        {%if device.last_seen|online%}
          <td>Online</td>
        {%else%}
          <td>Disconnected</td>
        {%endif%}
      </tr>
      <tr>
        <td><b>Mac</b></td>
        <td>{{device.mac}}</td>
      </tr>
      <tr>
        <td><b>Vendor</b></td>
        <td>{{device.vendor}}</td>
      </tr>
      <tr>
        <td><b>Last Seen</b></td>
        <td>{{device.last_seen|time_ago}}</td>
      </tr>
      <tr>
        <td><b>First Seen</b></td>
        <td>{{device.first_seen|first_seen}}</td>
      </tr>
      <tr>
        <td><b>Alert Online</b></td>
        <td>
          <input class="device-alert-toggle" type="checkbox" name="online" {%if device.alert_online == 1%}checked{%endif%} data-toggle="toggle">
        </td>
      </tr>
      <tr>
        <td><b>Alert Offline</b></td>
        <td>
          <input class="device-alert-toggle" type="checkbox" name="offline" {%if device.alert_offline == 1%}checked{%endif%} data-toggle="toggle">
        </td>
      </tr>
    </table>
  </div>
</div>
{%endblock%}

{%block javascript%}
<script type="text/javascript">
  $( document ).ready(function() {

    var device_id = {{device.id}};

    // Send ajax request to endable/ disable alerts
    $( ".device-alert-toggle" ).change(function(){
      var value;
      if($(this).prop('checked')){
        value = 1;
      } else {
        value = 0;
      }
      var alert_url = "/device-alert/" + device_id + "/" + $(this).attr('name') + "/" + value;

      console.log(alert_url);
      $.ajax({
        url: alert_url,
        context: document.body
      }).done(function(){});
    });

    // Send ajax request to fav/ unfavorite device
    $( "#device-favorite" ).click(function(){
      $.ajax({
        url: "/device-favorite/" + device_id,
        context: document.body
      }).done(function() {

        var icon = $(this).find('i');
        if(icon.hasClass('fa-star-o')){
          icon.removeClass('fa').removeClass('fa-star-o');
          icon.addClass('fas').addClass('fa-star');
        } else {
          icon.removeClass('fas').removeClass('fa-star');
          icon.addClass('fa').addClass('fa-star-o');
        }
      });
    });
  });
</script>
{%endblock%}
