  {% extends "layout.html" %}
{% block content %}
  <div class="row">
    <div class="col-lg-6">
      <h2>Settings</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <form action="/settings-save" method="POST">
        <h3>General</h3>
        <!-- Timezone -->
        <div class="form-group">
          <label for="settings_timezone">Timezone</label>
          <select class="form-control" id="settings_timezone" name="settings_timezone"  aria-describedby="timezoneHelp">
            <option selected>{{settings['timezone'].value}}</option>
            <option>US/Alaska</option>
            <option>US/Aleutian</option>
            <option>US/Arizona</option>
            <option>US/Central</option>
            <option>US/East-Indiana</option>
            <option>US/Eastern</option>
            <option>US/Hawaii</option>
            <option>US/Indiana-Starke</option>
            <option>US/Michigan</option>
            <option>US/Mountain</option>
            <option>US/Pacific</option>
            <option>US/Pacific-New</option>
            <option>US/Samoa</option>
            <option>UTC</option>
          </select>
          <small id="timezoneHelp" class="form-text text-muted">Timezone for display</small>
        </div>

        <div class="form-group">
          <label for="setting_active_timeout">Active Device Timeout</label>
          <input type="number" class="form-control form-sm" id="setting_active_timeout" placeholder="5" value="">
        </div>

        <div class="form-group">
          <label for="setting_alert_new_device">Active Device Timeout</label>
          <input class="form-check-input" type="checkbox" id="setting_alert_new_device" {%if settings['alert-new-device'].value == 1%}checked{%else%}value="off"{%endif%} name="settings_alert_new_device">
          <label class="form-check-label" for="setting_alert_new_device">
            Alert for new devices
          </label>
        </div>
        
        <br/>
        <button class="btn btn-success" type="submit">Save</button>
      </form>
    </div>
  </div>
{%endblock%}

