  {% extends "layout.html" %}
{% block content %}
  <div class="row">
    <div class="col-lg-6">
      <h2>Settings</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <form action="/settings-save" method="POST">
        <h3>General</h3>
        <!-- Timezone -->
        <div class="form-group">
          <label for="settings_timezone">Timezone</label>
          <select class="form-control" id="settings_timezone" name="settings_timezone"  aria-describedby="timezoneHelp">

            <option>US/Alaska</option>
            <option>US/Aleutian</option>
            <option>US/Arizona</option>
            <option>US/Central</option>
            <option>US/East-Indiana</option>
            <option>US/Eastern</option>
            <option>US/Hawaii</option>
            <option>US/Indiana-Starke</option>
            <option>US/Michigan</option>
            <option>US/Mountain</option>
            <option>US/Pacific</option>
            <option>US/Pacific-New</option>
            <option>US/Samoa</option>
            <option>UTC</option>
          </select>
          <small id="timezoneHelp" class="form-text text-muted">Timezone for display</small>
        </div>

        <div class="form-group">
          <label for="setting_active_timeout">IP Scan Range</label>
          <input type="text" class="form-control form-sm" id="setting_scan_hosts_range" name="setting_scan_hosts_range" value="{{settings['scan-hosts-range'].value}}" aria-describedby="scanRangeHelp">
          <small id="scanRangeHelp" class="form-text text-muted">IP range for device scans.</small>
        </div>


        <br/>
        <button class="btn btn-success" type="submit">Save</button>
      </form>
    </div>
  </div>
{%endblock%}

