{% extends "layout.html" %}

{%block head%}
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
{%endblock%}

{% block content %}
  <div class="row">
    <div class="col-lg-6">
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{%if device.icon%}<i class="{{device.icon}} fa-2x"></i>  {%endif%}{%if device.name%}{{device.name}}{%endif%}</h1>
      </div>
    </div>
    <div class="col-lg-6 text-right">
      <a id="device-favorite" href="#" class="btn btn-warning btn-circle btn-lg">
        <i class="fa {%if device.favorite == 0%}fa-star-o{%else%}fa-star{%endif%}"></i>
      </a>
      <a href="/device-edit/{{device.id}}" class="btn btn-primary">Edit</a>
    </div>
  </div>

  <!-- Content Row -->
  <div class="row">

    <!-- Device Info -->
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">
            Info
          </h6>
        </div>

        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
              <tr>
                <td><b>IP</b></td>
                <td>{{device.ip}}</td>
              </tr>
              <tr>
                <td><b>Status</b></td>
                {%if device.last_seen|online%}
                  <td>Online</td>
                {%else%}
                  <td>Disconnected</td>
                {%endif%}
              </tr>
              <tr>
                <td><b>Mac</b></td>
                <td>{{device.mac}}</td>
              </tr>
              <tr>
                <td><b>Vendor</b></td>
                <td>{{device.vendor}}</td>
              </tr>
              <tr>
                <td><b>Last Seen</b></td>
                <td>{{device.last_seen|time_ago}}</td>
              </tr>
              <tr>
                <td><b>First Seen</b></td>
                <td>{{device.first_seen|pretty_time}}</td>
              </tr>
              <tr>
                <td><b>Port Scan</b></td>
                <td>
                  {% if device.port_scan == 1 %}
                    Enabled
                  {%else%}
                    Disabled
                  {%endif%}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>

    </div>
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Header -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">
            Alerts
          </h6>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="alert_online">Alert Online</label>
            <input class="alert-toggle alert-nanny" type="checkbox" data-toggle="toggle" id="alert_online" aria-describedby="alertOnlineHelp">
            <small id="alertOnlineHelp" class="form-text text-muted">Create an alert when the device comes online.</small>
          </div>

          <div class="form-group">
            <label for="alert_offline">Alert Offline</label>
            <input class="alert-toggle" type="checkbox" data-toggle="toggle" id="alert_offline" aria-describedby="alertOfflineHelp">
            <small id="alertOfflineHelp" class="form-text text-muted">Create an alert when the device goes offline.</small>
          </div>

        </div>
      </div>
    </div>
  </div>
{%endblock%}

{%block javascript%}
  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
  <script type="text/javascript">
    $( document ).ready(function(){

      var device_id = {{device.id}};
      {%if device.alert_online%}
        var device_alert_online = {{device.alert_online}};
      {%else%}
        var device_alert_online = 0;
      {%endif%}

      {%if device.alert_offline%}
        var device_alert_offline = {{device.alert_offline}};
      {%else%}
        var device_alert_offline = 0;
      {%endif%}

      // Set initial device states
      if(device_alert_online == 1){
        $('#alert_online').bootstrapToggle('on');
      }
      if(device_alert_offline == 1){
        $('#alert_offline').bootstrapToggle('on');
      }

      // Send ajax request to endable/ disable alerts
      $(function() {
        $('#alert_online').change(function() {
          update_alert('online', $(this).prop('checked'))
        })
      })

      $(function() {
        $('#alert_offline').change(function() {
          update_alert('offline', $(this).prop('checked'))
        })
      })

      function update_alert(alert_type, alert_value){
        var var_url_val;
        if(alert_value){
          var_url_val = 1;
        } else {
          var_url_val = 0;
        }
        var alert_url = "/device-alert/" + device_id + "/" + alert_type + "/" + var_url_val;
        console.log(alert_url);
        $.ajax({
          url: alert_url,
          context: document.body
        }).done(function(){ });
      }

      // Send ajax request to fav/ unfavorite device
      $( "#device-favorite" ).click(function(){
        $.ajax({
          url: "/device-favorite/" + device_id,
          context: document.body
        }).done(function() {

          var icon = $(this).find('i');
          if(icon.hasClass('fa-star-o')){
            icon.removeClass('fa').removeClass('fa-star-o');
            icon.addClass('fas').addClass('fa-star');
          } else {
            icon.removeClass('fas').removeClass('fa-star');
            icon.addClass('fa').addClass('fa-star-o');
          }
        });
      });
    });
  </script>
{%endblock%}
