{% extends "layout.html" %}
{% block content %}
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Devices</h1>
  </div>

  <!-- Content Row -->
  <div class="row">

    <!-- Device Table -->
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow mb-4">
        <!-- Card Body -->
        <div class="card-body">
          <div class="table-responsive">
            {%if devices%}
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <td></td>
                    <td>Name</td>
                    <td>IP</td>
                    <td>Mac</td>
                    <td>Last Seen</td>
                    <td>First Seen</td>
                  </tr>
                </thead>
                {% for device in devices %}
                <tr>
                  <td>
                    {%if device.icon %}
                      <i class="{{device.icon}}"></i>
                    {%endif%}
                  </td>
                  <td>
                    <i class="fas fa-bolt {%if device.last_seen|online %}connected_bolt{%endif%}"></i>
                    <a href="/device/{{device.id}}">{{device.name}}</a>
                  </td>
                  <td>{{device.ip}}</td>
                  <td>{{device.mac}}</td>
                  <td>{{device.last_seen|time_ago}}</td>
                  <td>{{device.first_seen|pretty_time}}</td>
                </tr>
                {%endfor%}
              </table>
            {%else%}
              <div class="text-center">
                No Devices Found.
              </div>
            {%endif%}
          </div>
      </div>
    </div>

  </div>

{%endblock%}